html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
* {
    box-sizing: border-box;
}
.navbar-container {
    background: #13374F;
    color: #FFFFFF;
}
.navbar-container a {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-container ul li {
    display: inline-block;
    list-style-type: none;
}
.navbar-container ul {
    margin: 0;
    padding: 0;
}
.navbar-container h1, .navbar-container h2, .navbar-container h3, .navbar-container h4 {
    margin-top:0;
    text-transform: uppercase;
    font-weight: normal;
}
.navbar-container .logo {
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-align: center;
}
.navbar-container .nav-title {
    font-size: 0.875rem;
    font-weight: bold;
}
.navbar-container .options-item .thumbnail {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/aboutusw.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-container .options-item:hover .thumbnail {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/aboutus.png);
}
.navbar-container .options-item .thumbnail.write {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/writew.png);
}
.navbar-container .options-item:hover .thumbnail.write:hover {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/write.png);
}
.navbar-container .options-item .thumbnail.playstore {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/playstorew.png);
}
.navbar-container .options-item:hover .thumbnail.playstore:hover {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/playstore.png);
}
.navbar-container .options-item .thumbnail.instagram {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/instagramw.png);
}
.navbar-container .options-item:hover .thumbnail.instagram:hover {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/instagram.png);
}
.navbar-container .options-item .thumbnail.facebook {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/facebookw.png);
}
.navbar-container .options-item:hover .thumbnail.facebook:hover {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/facebook.png);
}
.navbar-container .options-item .thumbnail.twitter {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/twitterw.png);
}
.navbar-container .options-item:hover .thumbnail.twitter:hover {
    background-image: url(https://cdn-images.spcafe.in/img/es3-cfill-s64/common/navbar/twitter.png);
}
.navbar-container .dropdown {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    right: 0;
    top:98%;
    background: #FFFFFF;
    padding: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.navbar-container .dropdown:before {
    content: "";
    display: block;
    position: absolute;
    right: 24px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFFFFF;
}
.navbar-container .dropdown .inner {
    background: #FFFFFF;
    color: #666666;
}
.navbar-container .dropdown.active {
    display: block;
}
.navbar-container .dropdown .inner a{
    color: #666666;
}
.navbar-container .dropdown .feature-split-title{
    color: #999999;
    font-family: "Montserrat",Roboto,sans-serif;
}
.navbar-container .dropdown .item-text{
    display: inline-block;
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
.navbar-container .dropdown li:hover .item-text{
    color: #134C5D;
}
.navbar-container .dropdown .thumbnails{
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.navbar-container .features .item-text:before{
    content: ">";
    display: inline-block;
    color: #bbbbbb;
    font-family: "Montserrat", Roboto, sans-serif;
    margin-right: 8px;
    font-size: 0.875rem;
}
.navbar-container .options {
    position: relative;
}
.navbar-container .options-items {
    text-align: center;
}
.navbar-container .options .static-items{
    text-align: center;
}
.navbar-container .options .dropdown li{
    display: inline-block;
    width: 30%;
    text-align: center;
}
.navbar-container .options .dropdown li a{
    display: inline-block;
    padding: 5px 0;
}
.navbar-container .options-title, .navbar-container .menu-title {
    position: relative;
    margin-bottom: 0;
    text-transform: none;
    cursor: pointer;
}
.navbar-container .options-title:after, .navbar-container .menu-title:after {
    content: ">";
    display: inline-block;
    font-family: "Montserrat", Roboto, sans-serif;
    font-size: 0.875rem;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    top: 0px;
    opacity: 0.75;
}
.second-navbar {
    display: none;
}
.navbar-container .logo .logo-image {
    height: 33px;
    width: auto;
}
.navbar-container .options .icon{
    display: block;
    height: 20px;
    width: auto;
    cursor: pointer;
}
.navbar-container .options:hover .dropdown{
    display: block;
}
.navbar-container .logo {
    float: left;
    width: 25%;
}
.navbar-container .sport-icon {
    display: none;
}
.navbar-container .more {
    display: none;
}
.navbar-container .more-container, .navbar-container .more-title, .navbar-container .trending {
    display: inline-block;
    position: relative;
}
.navbar-container .more-title {
    text-transform: uppercase;
    font-family: "Montserrat", Roboto, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0;
    cursor: pointer;
    padding: 14px;
}
.navbar-container .more-container:hover .dropdown {
    display: block;
}
.navbar-container .more-container:hover .more-title {
    background: rgba(0,0,0,0.15);
}

.navbar-container .trending-item {
    display: inline-block;
    padding: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", Roboto, sans-serif;
}
.navbar-container .trending-item:hover {
    background: rgba(0,0,0,0.15);
}
.navbar-container .trending .item-label{
    display: none;
}
.navbar-container .options-title{
    display: none;
}
.navbar-container .trending .item-label-desktop{
    display: initial;
    text-transform: uppercase;
    font-family: "Montserrat", Roboto, sans-serif;
}
.navbar-container .options, .navbar-container .features, .navbar-container .misc{
    float: left;
}
.navbar-container .main .options {
    padding: 13px 15px;
}
.navbar-container .main .features{
    padding: 14px 15px;
    position: relative;
}
.navbar-container .main .features .dropdown .blog{
    clear: both;
    border-top: 1px solid #EEEEEE;
}
.navbar-container .main .features .dropdown .blog-link{
    font-family: "Montserrat", Roboto, sans-serif;
    padding: 5px;
    display: block;
}
.navbar-container .main .features .dropdown .blog-link:hover{
    color: #13374F;
}
.navbar-container .main .features .dropdown{
    width: 420px;
}
.navbar-container .main .features:hover .dropdown{
    display: block;
}
.navbar-container .main {
    width: 75%;
    max-width: initial;
    float: left;
}
.navbar-container .main .left {
    float: left;
    width: calc(100% - 160px);
}
.navbar-container .options {
    width: 55px;
}
.navbar-container .features {
    width: 105px;
}
.navbar-container .options-title, .navbar-container .menu-title {
    text-transform: uppercase;
    font-family: "Montserrat", Roboto, sans-serif;
}
.navbar-container .options-title:after, .navbar-container .menu-title:after {
    content: "";
}
.navbar-container .second-navbar {
    display: block;
    overflow: hidden;
    background: white;
    clear: both;
    font-family: "Montserrat", Roboto, sans-serif;
    color: #666666;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
}
.navbar-container .second-navbar a {
    color: #666666;
}
.navbar-container .title-column {
    float: left;
    width: 25%;
    text-align: right;
}
.navbar-container .title-column:after {
    content: "";
    display: inline-block;
    height: 16px;
    width: 1px;
    background: #CCCCCC;
    margin-left: 7px;
    position: relative;
    bottom: -3px;
}
.navbar-container .title-column, .navbar-container .menu-column {
    float: left;
}
.navbar-container .menu-column {
    padding: 0 10px;
}
.navbar-container .second-navbar .menu-items, .navbar-container .second-navbar .page-name {
    text-transform: uppercase;
    font-family: "Montserrat", Roboto, sans-serif;
    color: #999999;
    margin-right: 10px;
    padding: 10px 0;
    display: inline-block;
}
.navbar-container .second-navbar .menu-items.active {
    border-bottom: 3px solid #13374F;
}
.navbar-container .second-navbar .page-name {
    color: #666666;
    margin-right: 0;
}
.navbar-container .dropdown .column-half {
    float: left;
    width: 50%;
    padding: 10px;
}
.navbar-container .dropdown .column-half:first-child {
    border-right: 1px solid #EEEEEE;
}
.navbar-container .dropdown .column-half li{
    display: block;
}
.navbar-container .dropdown .column-half li a{
    display: block;
    padding: 8px 0;
    color: #999999;
}
.navbar-container .dropdown .column-half li a:hover{
    color: #666666;
}

@media screen and (min-width: 960px){
}